<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
   <strong>User:</strong>
   <%= @game.user.email %>
</p>

<div id="game_highscores_container">
   <%= render @game.game_highscores %>
   <div id="form">
      <%= render 'game_highscores/form' %>
   </div>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
